absl_py==2.1.0
apache_beam==2.53.0
cf_python==3.16.2
cfdm==1.11.1.0
data_downloader==0.5.1
einops==0.8.0
esmpy==8.4.1
esmpy.egg==info
GDAL==3.6.2
h5py==3.10.0
jax==0.4.30
lpips==0.1.4
matplotlib==3.8.2
numpy==1.24.4
opencv_python==4.9.0.80
openstl==1.2.8
pandas==2.2.2
Pillow==9.3.0
Pillow==10.4.0
pympler==1.1
Requests==2.32.3
scipy==1.14.1
skimage==0.0
timm==0.9.10
torch==2.0.1+cu118
torchvision==0.15.2+cu118
tqdm==4.66.1
visualdl==2.5.3
xarray==2024.1.1
xarray_beam==0.6.3
zarr==2.16.1
